@charset "UTF8";




*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1f2029;
}

.wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}


.slide-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide-item {
    display: flex;
    padding: 0px 10px;
}
.slide-content {
    border: 1px solid white;
    position: relative;
    border-radius: 10px;

}
.slide-image {
    width: 90vw;
    border-radius: 10px;
}
.slide-description {
    background: linear-gradient(transparent,#000);
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 1em;
}

.slide-description h3 {
    font-family: 'Koulen', cursive;
    font-size: 3em;
    position: relative;
    top: 25px;


}
.slide-description p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;

}

.slide-nav-button {
    color: white;
    font-size: 2.5em;
    background: transparent;
    position: absolute;
    z-index: 1;
}
.slide-nav-previous {
     left: 10px;
}

.slide-nav-next {
    right: 10px;
}

.slide-controls {
    margin: 20px auto;
}